.aboutInner{
    width: 100%;
    max-width: 992px;
    margin: 51px auto 0 auto;
    .whom{
        span{
            font-family: Microsoft YaHei;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            color: #FFFFFF;
        }
    }
}