.homeInner{
    background-image: url(../../assets/images/homepic.png);
    background-size: cover;
    .introduction{
        max-width:1440px;
        width:100%;
        height:572px;
        .session-inner{
            max-width: 992px;
            margin: 0 auto;
            position: relative;
            div{
                position: absolute;
                width: 624px;
                height: 63px;
                top: 163px;
                font-family: Microsoft YaHei;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 63px;
                color: #FFFFFF;
            }
            .sign-up{
                position: absolute;
                width: 320px;
                height: 60px;
                top: 340px;
                color:#FFFFFF;
                font-family: Microsoft YaHei;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 26px;
                background: #0047FF;
                border-radius: 2px;
                border:none;
            }
            span{
                position: absolute;
                height: 16px;
                top: 431px;
                font-family: Microsoft YaHei;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #FFFFFF;
            }
        } 
    }
    .share-content{
        max-width: 992px;
        width: 100%;
        margin: 98px auto 88px auto;
        .share-header{
            width: 100%;
            height: 52px;
            color: #FFFFFF;
            span:first-child{
                width: 196px;
                height: 37px;
                font-family: Microsoft YaHei;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 37px;
                margin-right: 14px;
            }
            span:last-child {
                width: 115px;
                height: 24px;
                font-family: Microsoft YaHei;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
            }
            .line3{
                width:100%;
                height:2px;
                background-color: #C4C4C4;
                margin:13px auto 42px auto;
            }
           
        }
        .share-session{
            max-width: 992px;
            width: 100%;
            height: 424px;
            margin:42px auto 89px auto;
            .swiper-wrapper{
                display: flex;
                align-items: center;
            }
            .swiper-slide{
                transition: 1500ms;
            }
            .swiper-slide-active .sharing-intro, .swiper-slide-duplicate-active .sharing-intro{
                height:160px!important;
                transition: 1500ms;
            }
            .swiper-slide-active .line4 , .swiper-slide-duplicate-active .line4,.swiper-slide-active .from , .swiper-slide-duplicate-active .from{
                display: block!important;
            }
            
        }
    }
}
