.valuesInner {
    max-width: 992px;
    height:50vh;
    width: 100%;
    margin: 51px auto 106px auto;
    .sphere {
        position: absolute;
        left: 340px;
        top: 90px;
        width: 100px;
        height: 100px;

        img {
            width: 100%;
        }
    }
    .session {
        .context-inner{
            font-family: Microsoft YaHei;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
    }
    .ladder {
        position: absolute;
        width: 955.45px;
        height:255.24px;
        right:0px;
        top:353px;
        img {
            width: 100%;
        }
    }
}