.shareInner {
    max-width: 992px;
    width: 100%;
    margin: 51px auto 163px auto;
    height: 50vh;
    .share-content {
        margin: 0 auto;
        width: 432px;
        height: 24px;
        font-family: Microsoft YaHei;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 24px;
        color: #FFFFFF;
    }
}
